.navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: 10vh;
    background-color: rgb(77, 77, 190);
    text-transform: uppercase;
    color: white;
    box-shadow: 3px -3px 4px rgb(158, 156, 243) inset;
    opacity: 0.7;

    &__title {

    }

    &__list{
        color: white;
        list-style-type: none;
        display: flex;
        justify-content: center;

        li {
            display: inline-block;

                a {
                text-decoration: none;
                color: white;
                padding: 5px;
                text-shadow: 4px 4px 6px black;
                transition: transform 1s;

                &:hover {
                    transform: scale(1.1);
                }
            }

            @media(min-width: 1070px) {
                .toContacts {
                    display: none;
                }}
        }
}
}